.post {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    margin-bottom: 0.5rem;
  }

  .info {
    strong {
      margin-right: 1rem;
    }
  }

  .content {
    text-align: justify;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px dashed black;
  }
}
