<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button routerLink="/" class="btn btn-link">go back to home page</button>
    </div>

    <div class="info">
        <strong>vovabatsyk</strong>
        <small>23.05.2021</small>
    </div>

    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis repellendus magni ratione, libero expedita
            amet. Delectus neque fugiat dolore a labore quos eligendi. Minus incidunt totam expedita quidem at assumenda
            veniam soluta magnam ipsum, tenetur aperiam quisquam pariatur a repudiandae libero, fugit voluptatum nihil
            aut ut ipsam? Porro, tempora inventore?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis repellendus magni ratione, libero expedita
            amet. Delectus neque fugiat dolore a labore quos eligendi. Minus incidunt totam expedita quidem at assumenda
            veniam soluta magnam ipsum, tenetur aperiam quisquam pariatur a repudiandae libero, fugit voluptatum nihil
            aut ut ipsam? Porro, tempora inventore?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis repellendus magni ratione, libero expedita
            amet. Delectus neque fugiat dolore a labore quos eligendi. Minus incidunt totam expedita quidem at assumenda
            veniam soluta magnam ipsum, tenetur aperiam quisquam pariatur a repudiandae libero, fugit voluptatum nihil
            aut ut ipsam? Porro, tempora inventore?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis repellendus magni ratione, libero expedita
            amet. Delectus neque fugiat dolore a labore quos eligendi. Minus incidunt totam expedita quidem at assumenda
            veniam soluta magnam ipsum, tenetur aperiam quisquam pariatur a repudiandae libero, fugit voluptatum nihil
            aut ut ipsam? Porro, tempora inventore?</p>
    </div>

</div>